.settings/
*.log
.classpath
.project
floreantpos.config.properties
floreantpos.config.local.properties
floreantpos.config.remote.properties
target/
logs/
*.bak
i18n/messages_zh_CN.properties~
config/wechat.properties
qrcodes/
